$desktop: "screen and (min-width : 480px)";
$desktop: "screen and (min-width : 480px)";

html, body {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
}

.quotes {
    display: none;
}

header {
    display: none;
    img{
        display:none;
    }
    h1{
        display:none;
    }
}


.intro {
    height: 40%;
    background-image: url(../Content/Images/Binoculers.jpg);
    background-position: center;
    overflow: hidden;
    background-size: cover;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        margin-top: 8%;
    }

    h3 {
        color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 120%;
    }
}

.mission {
    display: none;
}

.categories {
    height: 40%;


    div {
        width: 50%;
        height: 50%;
        background-color: #DB8A52;
        box-shadow: inset 0px 0px 0px 1px white;
    }

    .pull-left {
        float: left;
    }

    .pull-right {
        float: right;
    }

    img {
        display: block;
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        overflow: hidden;
    }

    h2 {
        color: white;
        text-align: center;
        overflow: hidden;
    }
}

.signUp {
    height: 20%;
    background-color: #1b1b1b;
    padding-top: 2%;

    .browseButton {
        height: 32%;
        background-color: #DB8A52;
        border: 1px solid white;
        text-align: center;
        margin: 0 auto;
        display: table;
        color: white;
    }

    .studentButton, .teacherButton {
        height: 40%;
        width: 35%;
        background-color: #47b7b7;
        border: 1px solid white;
        text-align: center;
        margin: 0 auto;
        color: white;
        margin-left: 10%;
        margin-top: 2%;
    }

    img {
        display: none;
    }
    p{
        display:none;
    }
    h1{
        display:none;
    }
}

.form-control {
    display: inline-block;
    text-align: center;
}

@media #{$desktop} {
    header {
        width: 100%;
        height: 5%;
        background-color: black;

        img {
            width: 8%;
            margin: 0.5% 0 0 0.5%;
            display: inline;
            vertical-align: middle;
        }

        h1 {
            display: inline;
            vertical-align: middle;
            color: white;
        }
    }

    .intro {
        height: 70%;

        img {
            float: none;
            margin-top: 10%;
            margin-left: 5%;
            margin-right: 0;
            width: 35%;
        }

        h3 {
            float: none;
            margin-top: 5%;
            text-align: left;
            margin-left: 17%;
        }
    }

    .mission {
        height: 15%;
        width: 100%;
        background-color: #47b7b7;
        padding-top: 5%;

        p {
            color: white;
            text-align: center;
        }
    }

    .categories {
        height: 70%;

        img {
            width: 20%;
        }

        h2 {
            color: white;
            text-align: center;
            overflow: hidden;
        }
    }

    .signUp {
        height: 35%;
        padding-top:0;
        .browseButton {
            position: relative;
            top: -63vh;
            background-color: #47b7b7;
        }

        .studentButton, .teacherButton {
            display: none;
        }
         img {
            width: 17%;
            display: inline-block;
            margin-left:1%;
        }
         .social{
             float:right;
              width: 17%;
            display: inline-block;
            margin-left:1%;
            margin-right:1%;
            position:relative;
            bottom:80px;
         }
         h1{
             color:white;
             display:inline-block;
             vertical-align: top;
             margin-top:1%;
         }
         p{
             margin-left:1%;
             color:white;
             display:block;
         }
    }
}
